.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form {
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
  }

  #usernameTitle {
  }
  #passwordTitle {
  }
  #sellBtn {
    border: none;
    cursor: pointer;
  }
  