.sellFormWrapper{
    background: #ece9e6;
    background: -webkit-linear-gradient(
        to right,
        #ffffff,
        #ece9e6
      );
      background: linear-gradient(
        to right,
        #ffffff,
        #ece9e6
      );
}

.sellFromDescription{
    text-align: center;
}

.sellFormContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    

  }
  .sellForm {
    border: 1px solid;
    padding: 60px;
    border-radius: 10px;
    transition: 0.9s;

  }
  .sellForm:hover{
    -webkit-box-shadow: 7px 8px 15px -1px rgba(0,0,0,0.74); 
    box-shadow: 7px 8px 15px -1px rgba(0,0,0,0.74);
    transition: 0.9s;
    transform: scale(1.04);

  }

  .text{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  input{
    min-width: 300px;
    min-height: 25px;
  }
  #passwordTitle {
  }
  .sellBtn{
    color: #272626;
    padding: 5px 15px;
    border-radius: 100px;
    background-color: #f7d19c;
    background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: 16px;
    margin-top:10px;
    border: 0;
    margin-right: 5px;
  
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  
    cursor: pointer;
    transition: 0.9s;

  } 
  .sellBtn:hover{
    color: #fff;
    padding: 5px 15px;
    border-radius: 100px;
    background-color: #f7d19c;
    background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
    -webkit-box-shadow: 3px 2px 5px -1px #000000; 
    box-shadow: 1px 1px 6px -1px #000000;
    font-weight: bold;
    font-size: 16px;
    margin-top:10px;
    border: 0;
    transition: 0.9s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  
    cursor: pointer;
  }
  